* {
    box-sizing: border-box;
}

body {
    color: #B2F5BA;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: url("../images/busback.jpg") no-repeat;
    background-size: 150% auto;
    background-position: center;
    background-attachment: fixed;
}

nav {
    background-color: black;
    color: white;
    padding: 10px 20px;
}
nav #navContainer {
    width: 50%;
    margin: 0 auto;
}
header {
    font-family: 'Herr Von Muellerhoff', cursive;
    background-color: rgba(29, 181, 48, 0.8);
    border-bottom: 10px solid black;
    padding: 10px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px 17px 20px -15px #004609;
}

header h1 {
    font-size: 70px;
    letter-spacing: 7px;
    text-shadow: 2px 2px black;
    padding: 0;
    margin: 10px auto;
    width: 75%;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 15px auto;
}

header h2 span {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-position: center;
    padding: 10px 40px;
}

#container {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    margin: 20px auto;
    -webkit-transition: display 500ms ease-in-out;
    -moz-transition: display 500ms ease-in-out;
    transition: display 500ms ease-in-out;
}

section:nth-of-type(1n) {
    box-shadow: none;
}

section:nth-of-type(2n) {
    background-color: rgba(29, 181, 48, 0.8);
    padding: 20px;
}

section:last-of-type {
    margin-bottom: 180px;
}

#votesContainer div,
#votesContainer table {
    display: inline-block;
    flex-grow: 1;
    align-self: center;
}

.item {
    width: 400px;
    height: 200px;
    display: flex;
    border: 2px solid #004609;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: opacity 50ms ease-in-out;
    -moz-transition: opacity 50ms ease-in-out;
    transition: opacity 50ms ease-in-out;
}

.item:hover {
    box-shadow: 0px 23px 20px -15px rgba(0, 0, 0, 0.5);
}

.item:active {
    box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.8);
}

.item div {
    position: relative;
    display: flex;
    text-align: center;
    width: 400px;
}

.item> div> img {
    align-self: center;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-height: 200px;
}

.responsiveImg {
    max-width: 100%;
    max-height: 200px;
}

#instructions {
    text-align: center;
    padding: 20px;
}

#votes {
    text-align: center;
}

#votes> h1:first-of-type {
    margin-left: 10px;
}

.votesList {
    list-style-type: none;
}
.votesList td {
    padding: 0 60px;
}

#chartStyle {
    width: 100%;
    margin: 20px 0;
    height: 460px;
}
#hidechart {
    width: 80% !important;
}
#chartContainer {
    position: absolute;
    margin: 10px auto;
    width: 100%;
}

.canvasjs-chart-credit {
    display: none;
}

footer {
    padding: 20px 50px;
    width: 100%;
    background-color: #004609;
    margin: 0;
    text-align: right;
    position: fixed;
    bottom: 0;
}

.canvasjs-chart-container {
    width: 0px;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
}
