* {
    box-sizing: border-box;
}

body {
    color: #B2F5BA;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 100px 0;
    background: url("../images/busback.jpg") no-repeat;
    background-size: 150% auto;
    background-position: center;
    background-attachment: fixed;
}
    
#modalContainer {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#modal {
    display: flex;
    justify-content: center;
}

#modalForm {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#modalForm input {
    font-size: 20px;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

#modalExit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 25px;
    font-size: 24px;
    cursor: pointer;
}

#modalForm> button {
    background-color: rgba(29, 181, 48, 0.8);
    border: 2px solid rgba(18, 112, 30, 0.8);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 15px 32px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

nav {
    background-color: black;
    color: white;
}

header {
    font-family: 'Herr Von Muellerhoff', cursive;
    background-color: rgba(29, 181, 48, 0.8);
    border-bottom: 10px solid black;
    box-shadow: 0px 17px 20px -15px #004609;
}

header h1 {
    font-size: 70px;
    letter-spacing: 7px;
    text-shadow: 2px 2px black;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

header h2 span {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-position: center;
}

section {
    border-radius: 5px;
    -webkit-transition: display 500ms ease-in-out;
    -moz-transition: display 500ms ease-in-out;
    transition: display 500ms ease-in-out;
}

section:nth-of-type(1n) {
    box-shadow: none;
}

#votesContainer div,
#votesContainer table {
    display: inline-block;
    flex-grow: 1;
    align-self: center;
}

.item {
    width: 400px;
    height: 200px;
    display: flex;
    border: 2px solid #004609;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: opacity 50ms ease-in-out;
    -moz-transition: opacity 50ms ease-in-out;
    transition: opacity 50ms ease-in-out;
}

.item:hover {
    box-shadow: 0px 23px 20px -15px rgba(0, 0, 0, 0.5);
}

.item:active {
    box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.8);
}

.item div {
    position: relative;
    display: flex;
    text-align: center;
    width: 400px;
}

.item> div> img {
    align-self: center;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-height: 200px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.responsiveImg {
    max-width: 100%;
    max-height: 200px;
}

#instructions {
    text-align: center;
    padding: 20px;
    width: auto;
    background-color: rgba(29, 181, 48, 0.8);
}
#votesContainer {
    background-color: rgba(29, 181, 48, 0.8);
}
#votes {
    text-align: center;
}

#votes> h1:first-of-type {
    margin-left: 10px;
}

.votesList {
    list-style-type: none;
}

.votesList td {
    padding: 0 60px;
}

#chartStyle {
    width: 100%;
    margin: 20px 0;
    height: 560px;
}

#hidechart {
    width: 80% !important;
}

#chartContainer {
    position: absolute;
    margin: 10px auto;
    width: 100%;
}

.canvasjs-chart-credit {
    display: none;
}

footer {
    padding: 20px 50px;
    width: 100%;
    background-color: #004609;
    margin: 0;
    text-align: right;
    position: fixed;
    bottom: 0;
}

.canvasjs-chart-container {
    width: 0px;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
}

#renderButton, #clearButton {
    text-align: center;
}

#buttonStyle {
    background-color: rgba(29, 181, 48, 0.8);
    border: 2px solid rgba(18, 112, 30, 0.8);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

#buttonStyle:hover {
    box-shadow: 0px 17px 20px -15px rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(18, 112, 30, 0.8);
    background-color: rgba(18, 112, 30, 0.5);
}