body {
    background-color: #8C4646;
    color: #2F343B;
    font-family: 'Open Sans', sans-serif;
}


section {
    height: 20vh;
    background-color: #E3CDA4;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    width: 75%;
    }
#container {
    margin: 0 auto;
    width: 75%;
    max-height: 2d00px;
    display: flex;

}
.item {
    width: 400px;
    height: 200px;
    display: flex;
    border: 6px solid black;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}

.item div {
    position: relative;
    display: flex;
    text-align: center;
    width: 400px;
}

.item > div > img {
    align-self: center;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-height: 200px;
}
.responsiveImg {
    max-width: 100%;
    max-height: 200px;
}
#instructions {
    text-align: center;
}

#votes {
    text-align: center;
}

.votesList {
    list-style-type: none; 
}
#chartStyle {
    width: 100%;
    display: flex;
    justify-content: center;
}
#chartContainer {
    width: 80%;
}
@media screen and (max-width: 600px) {
  #container {
    width: 100%;
  }
}